.contenido{
    display: grid;
    gap: 4rem;
}

.contenido p{
    margin-top: 0;
}

@media (min-width: 768px){
    .contenido{
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }
}